<%- include('./layout/head.ejs') %> 
    <div class="add-product-container">
      <div class="row">
        <form
          class="form-horizontal"
          action="/admin/add-product"
          method="POST"
          enctype="multipart/form-data"
        >
          
          <div class="form-group">
            <label class="control-label col-sm-3" for="pwd">Add Address:</label>
            <div class="col-sm-6">
              <textarea
                name="description"
                id=""
                cols="75"
                rows="5"
                required="required"
              ></textarea
              >
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <button type="submit" class="btn btn-green">Proceed</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <%- include('./layout/end.ejs') %>
    