<!-- <footer>
    <div class="container-fluid">
      <p class="text-center footer-text">copyright&copy;Dashstore.com</p>
    </div>
  </footer> -->

  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>